<!DOCTYPE html>
{% extends 'star/base.html' %}
{% block child_block %}
<div class="container" align="center">
<h1>Information of student</h1>
<table border="1">
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Marks</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    {% for student in students%}
    <tr>
        <td>{{student.No}}</td>
        <td>{{student.Name}}</td>
        <td>{{student.Marks}}</td>
        <td>{{student.Address}}</td>
        <td><a href="/delete/{{student.id}}" class="btn btn-success m-2"> Delete </a>
        <a href="/update/{{student.id}}" class="btn btn-success">Update</a></td>
    </tr>
    {%endfor%}
    </h1>

</div>

{% endblock child_block %}